#root {
  min-height: 100vh;
  text-align: center;
}

.app {
  display: flex;
  min-height: 100vh;
  place-items: center;
}

.app-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.button-bar {
  padding: 1rem;
}
